{% extends 'base.html' %}

{% block head %}
<title>Canteen Menu</title>
{% endblock %}

{% block body %}
<div class="content split left">
    <h1 style="text-align: center">Canteen Menu</h1>
    <div class="form">
        <form action="/" method="POST">
            <h4>Input New Menu</h4>
            <label for="content">Menu</label><br>
            <input type="text" name="content" id="content" required>
            <br>
            <label for="timing">Time</label><br>
            <input type="text" name="timing" id="timing" required>
            <br>
            <input type="range" id="score" name="score" min="0" max="5" value="0" hidden>
            <br>
            <input type="radio" name="status" value="Active" checked>
            <label>Active</label>
            <input type="radio" name="status" value="Non Active">
            <label>Non Active</label>
            <br><br>
            <input type="submit" value="Add menu">
        </form>

            <br><br>
            <a href="/uploadfiles">Upload Your File</a>
        </form>
    </div>
</div>

<div class="content split right">
    <h1 style="text-align: center">List of Menu</h1>
    <button><a href="/scoring">Scoring</a></button><br><br>

    {% if menus|length < 1 %}
    <h4 style="text-align: center">There are no menus. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>ID Menu</th>
            <th>Status</th>
            <th>Menu</th>
            <th>Timing</th>
            <th>Score</th>
            <th>Actions</th>
        </tr>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{ menu.status }}</td>
                <td>{{ menu.content }}</td>
                <td>{{ menu.timing }}</td>
                <td>{{ menu.score }}</td>
                <td>
                    <a href="/update/{{menu.id}}">Update</a>
                    <a href="/delete/{{menu.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}