{% extends 'base.html' %}

{% block head %}
<title>Edit Score</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Score</h1>

    <div class="form">
        <form action="/updatescore/{{menu.id}}" method="POST">
            <label for="content">Menu</label><br>
            <input type="text" name="content" id="content" value="{{menu.content}}" disabled>
            <br>
            <label for="timing">Time</label><br>
            <input type="text" name="timing" id="timing" value="{{menu.timing}}" disabled>
            <br>
            <label for="score">Score</label><br>
            <input type="range" id="score" name="score" min="0" max="5" value="{{menu.score}}">
            <br><input type="submit" value="Save">
            <button><a href="/scoring">Cancel</a></button>
        </form>
    </div>
</div>
{% endblock %}