{% extends 'base.html' %}

{% block head %}
<title>Upload Files</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Upload File</h1>

    <div class="form">
        <form  method="POST" action="/uploadfiles" enctype="multipart/form-data">
            Upload a csv file: <input type='file' name='file'>
            <input type='submit' value='Upload'>
            <p>
                <button><a href="/">Cancel</a></button>
            </p>

          </form>
    </div>
</div>
{% endblock %}